.row {
	position: relative;
	/* position: fixed; */
	overflow-x: scroll;
	/* overflow-y: scroll; */
	margin-left: 30px;
	/* overflow: hidden; */
	color: white;
	/* overflow-y: hidden; */
	/* z-index: -1; */
}

.title {
	margin-top: 0px;
}

.row_posters {
	/* position: fixed; */
	overflow-x: scroll;
	overflow-y: hidden;
	z-index: 10;
	display: flex;
	padding: 20px;
	padding-bottom: 40px;
}

.row::-webkit-scrollbar {
	display: none;
}

.row_poster {
	object-fit: contain;
	width: 100%;
	max-height: 188px;
	margin-right: 3px;
	transition: transform 400ms;
}

.row_poster:hover {
	transform: scale(1.4);
}

.row_posterLarge {
	max-height: 350px;
	margin-right: 100px;
	margin-left: 50px;
}

.row_posterLarge:hover {
	transform: scale(1.3);
}
